/* 
  Document : style.css
  Created on : 7 juin 2022
  Autor : Shana Bhojwani
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#background {
  background: url(https://media-cdn.tripadvisor.com/media/photo-s/18/20/62/8d/papy-s-fast-food.jpg);
  background-repeat: repeat-x;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 100%;
  height : auto;
  margin-top : 0px;
  margin-bottom : 0px;
  padding : 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 200px;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: absolute;
  height: 200%;
  overflow: auto;
}

h4 {
  margin: 0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #366541;
  color: white;
}

li a:hover:not(.active) {
  background-color: #90aa96;
  color: white;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display-direction: column;
    margin-bottom: 20px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Style the counter cards */
.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.price {
  color: #136320;
  font-size: 18px;
}

.container {
  padding: 2px 16px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 8px 16px 0 #4CAF50;
}

.button2:hover {
  box-shadow: 0 8px 16px 0 #f44336;
}

.button2 {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;

} 
